body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#upbgboard {
  height: 150px;
  width: 100%;
  background-color: rgb(13, 16, 172);  
  margin-bottom: 20px;
  color: aliceblue;
  font-size: large;
  position: relative;
}

#upbgboard p {
  position: absolute;
  bottom: 0px;
}

#dnbgboard {
  visibility: hidden;
}

#dnbgboard, #routes {
  padding-left: 20px;
}

button {
  margin: 12px;
}
